body { /* El cuerpo principal, color y centrado de las cosas */
    background-image: linear-gradient(to bottom, #36BFB1, #038C73, #02735E, #014034, #022417);
    min-height: 100vh; 
    background-attachment: fixed;
    margin: 0;

    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-top: 50px; /* Espacio arriba para que la tarjeta no pegue al borde */
    padding-bottom: 50px; /* Espacio abajo para poder scrollear cómodo */
    gap: 40px;
}

.tarjeta {/* sirve para ajustar todo en forma de una columna y se vea más bonito*/
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

    padding: 40px; 
    width: 350px; 
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.h1-tarjeta {
    font-size: 25px;
}

.h2-tarjeta {
    font-size: 19px;
}

.img-tarjeta {
    width: auto ;
    max-height: 300px;
    clip-path: circle(40%);
    object-fit: cover;
}

a {
    text-decoration: none; 
    color: #06be9c;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

a:hover{
    color: #36BFB1; 
    transform: scale(1.1);
}
.links {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 25px; 
    margin-top: 20px;
}

.h1-tarjeta, .h2-tarjeta, .img-tarjeta {
    position: static;
    margin: 10px 0;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

.animacion-entrada {
    animation: aparecer 2s ease-out forwards;
}

.proyectos {
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.titulo-proyectos {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin-bottom: 20px;
}

.grid-proyectos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; 
}

.tarjeta-mini {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    text-decoration: none;
    color: 06be9c;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.tarjeta-mini:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateY(-5px);
}